<html>
    <body>
        <h1>User</h1>
        <p> <%=message.user %> </p>

        <h1>Text</h1>
        <p> <%=message.text %> </p>

        <h1>Date Added</h1>
        <p> <%=message.added %> </p>
    </body>
</html>