<html>
    <body>
           <h1>  <%= title %> </h1> 
        <ul>
            <% for (let i =0; i < messages.length; i++) { %>
                <h2> <%= messages[i].text %> </h2>
            <% }%>
        </ul>
    </body>
</html>